
@font-face {
    font-family: 'Proxima Nova Soft';
    font-style: normal;
    font-weight: 300;
    src: url("../Assets/Fonts/ProximaNovaSoft/ProximaNovaSoft-Regular.otf") format("opentype");
}

@font-face {
    font-family: 'Proxima Nova Soft';
    font-style: normal;
    font-weight: 500;
    src: url("../Assets/Fonts/ProximaNovaSoft/ProximaNovaSoft-Medium.otf") format("opentype");
}

@font-face {
    font-family: 'Proxima Nova Soft';
    font-style: normal;
    font-weight: 700;
    src: url("../Assets/Fonts/ProximaNovaSoft/ProximaNovaSoft-Semibold.otf") format("opentype");
}

@font-face {
    font-family: 'Proxima Nova Soft';
    font-style: normal;
    font-weight: 900;
    src: url("../Assets/Fonts/ProximaNovaSoft/ProximaNovaSoft-Bold.otf") format("opentype");
}

body {
    font-family: 'Proxima Nova Soft';
}

.navbar {
    background-image: url(../Assets/Images/Side_Menu/menu-header-bg.png);
    background-repeat: no-repeat;
    background-color: #9458c3;
}

.jumbotron {
    background-color: #b771ed;
    color: #fff;
    border-radius: 0px;
    margin-bottom: 0px;
}

.mid {
    background-color: #9458c3;
}

.mid p {
    font-size: 14px;
    color: #fff;
    padding: 11px 0;
    margin: 0px;
}

.list-group-item p {
    margin-bottom: 5px;
}

.location {
    font-size: 16px;
    color: #959595;
    font-weight: 700;
    line-height: 100%;
}

.amount {
    font-size: 16px;
    color: #16967a;
    font-weight: 700;
    line-height: 100%;
}

.date {
    font-size: 14px;
    font-weight: 500;
    color: #959595;
    line-height: 115%;
    opacity: 60%;
}

.type {
    font-size: 14px;
    font-weight: 700;
    color: #959595;
    line-height: 115%;
    opacity: 60%;
}
